# Chapter 8
Python Lists

# What is Not a “Collection”?

In [1]:
x = 2
x = 4
print(x)

4

# List Constants

In [2]:
print([1, 24, 76])

[1, 24, 76]

In [3]:
 print(['red', 'yellow', 'blue'])

['red', 'yellow', 'blue']

In [4]:
 print(['red', 24, 98.6])

['red', 24, 98.6]

In [5]:
print([ 1, [5, 6], 7])

[1, [5, 6], 7]

In [6]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

# Lists and Definite Loops

In [7]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [9]:
z = ['Joseph', 'Glenn', 'Sally']
for x in z:
    print('Happy New Year:', x)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

# Looking Inside Lists

In [12]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print(friends[1])

Glenn

# Lists are Mutable

In [13]:
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [14]:
x = fruit.lower()
print(x)

banana

In [15]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [16]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

# How Long is a List?

In [17]:
greet = 'Hello Bob'
print(len(greet))

9

In [18]:
x = [ 1, 2, 'joe', 99]
print(len(x))

4

# Using the range Function

In [19]:
print(range(4))

range(0, 4)

In [20]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [21]:
print(range(len(friends)))

range(0, 3)

# A Tale of Two Loops...

In [22]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [23]:
friends = ['Joseph', 'Glenn', 'Sally']
>>> print(len(friends))

3

In [24]:
print(range(len(friends)))

range(0, 3)

# Concatenating Lists Using +

In [25]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [26]:
 print(a)

[1, 2, 3]

# Lists Can Be Sliced Using :

In [27]:
t = [9, 41, 12, 3, 74, 15]
t[1:3]

[41, 12]

In [28]:
t[:4]

[9, 41, 12, 3]

In [29]:
t[3:]

[3, 74, 15]

In [30]:
 t[:]

[9, 41, 12, 3, 74, 15]

# List Methods

In [31]:
x = list()
type(x)

list

In [32]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Building a List from Scratch

In [33]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [34]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

# Is Something in a List?

In [35]:
some = [1, 9, 21, 10, 16]
9 in some

True

In [36]:
15 in some

False

In [37]:
20 not in some

True

# Lists are in Order

In [38]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [39]:
print(friends[1])

Joseph

# Built-in Functions and Lists

In [3]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

In [41]:
print(max(nums))

74

In [42]:
print(min(nums))

3

In [43]:
print(sum(nums))

154

In [4]:
print(sum(nums)/len(nums))

25.666666666666668

In [5]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value 
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 3
Enter a number: 6
Enter a number: 9
Enter a number: done
Average: 6.0

In [6]:
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)
average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 1
Enter a number: 5
Enter a number: 6
Enter a number: done
Average: 4.0

# Strings and Lists

In [7]:
abc = 'With three words'
stuff = abc.split()
print(stuff)
print(len(stuff))

['With', 'three', 'words']
3

In [9]:
line = 'A lot       of spaces'
etc = line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [10]:
line ='first;second;third'
thing = line.split()
print(thing)

['first;second;third']

In [11]:
print(len(thing))

1

In [12]:
thing = line.split(';')
print(thing)

['first', 'second', 'third']

In [13]:
print(len(thing))

3